<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <h2>Вход в систему</h2>
        <!--
            <input th:type="j_username" type="text" placeholder="Username" autofocus="true" name="j_username"/>
            <input th:type="j_password" type="password" placeholder="Password" name="j_password"/>
            <button type="submit">Log in</button>
        -->
        <input name="j_username"/>
        <input name="j_password"/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>