<div xmlns:th="http://www.thymeleaf.org">
    <form th:if="${#request.userPrincipal == null}" th:action="@{/login}">
        <button type="submit">Войти</button>
    </form>
    <form th:if="${#request.userPrincipal != null}" th:action="@{/logout}">
        <button type="submit">Выйти</button>
    </form>
    <form th:action="@{/admin/all}">
        <button type="submit">Админка</button>
    </form>
    <form th:action="@{/user/lk}">
        <button type="submit">ЛК</button>
    </form>
    <form th:action="@{/vip}">
        <button type="submit">Вип контент</button>
    </form>
</div>